<div>
  {{ item.name }}
  <span class="rating">
    {{ item.rate }}
    <input type="button" class="rate up" value="&#x2B06;" (click)="rateUp(item.name)"/>
    <input type="button" class="rate down" value="&#x2B07;" (click)="rateDown(item.name)" />
  </span>
</div>