div {
  padding: 0.5em;

  .rating {
    float:right;
    padding-left: 2em;

    input.rate {
      width: 1.4em;
      height: 1.4em;
      text-align: center;
      padding: 0px;
      border: 0.8em ;
      margin: 0.2em;

      &.up {
        background-color: lightgreen;
      }
      &.down {
        background-color: red;        
      }
    }
  }
}
