<ul>
  <li *ngFor="let item of (items$ | async)">
    <app-item-list [item]="item "></app-item-list>
  </li>
</ul>

<div>
  <p>Random Rating!
    <input type="button" value="{{ randomRankText }}" (click)="toggleRandomRating()" />
  </p>
</div>