ul {
  // width: 300px;
  display: inline-block;

  li {
    list-style-type: none;
    margin: 0.2em;
    padding: 0.2em;

    border: 1px solid #dfdfdf;
    border-bottom: 1px darkgray solid;
    border-right: 1px darkgray solid;
  }

  li:first-child {
    background-color: lightblue;
  }

  li {
    background-color: lightgray;
  }
}
